@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Mitr:wght@200;300;400;500;600;700&display=swap');

.tag-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    column-gap: 10px;
    row-gap: 10px;
}

.tag-container > * {
    max-height: 50px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
}

.better-h1 {
    font-size: 1.33vw;
}

.better-header {
    font-family: 'Mitr', serif;
    font-weight: 600;
    font-size: 2.1vw;
}

.better-header-large {
    font-family: 'Mitr', serif;
    font-weight: 600;
    font-size: 3vw;
    line-height: 75%;
}

.left-content {
    flex: 1.8; /* Takes up 2/3 of the container */
    /*background-color: #f0f0f0;*/
    padding: 0% 0% 3% 8%;
}

.right-content {
    flex: 1.1; /* Takes up 1/3 of the container */
    /*background-color: #dcdcdc;*/
    padding: 7.75% 7% 1% 3%;
}

.left-content-small {
    flex: 1.8; /* Takes up 2/3 of the container */
    /*background-color: #f0f0f0;*/
    padding: 0% 0% 3% 5%;
}

.right-content-main {
    flex: 1.3; /* Takes up 1/3 of the container */
    /*background-color: #dcdcdc;*/
    padding: 10.75% 5% 1% 0%;
}

.info-modal {
    background-color: #0E0019;
    border-radius: 10%;
    padding: 2%;
    font-family: 'Mitr', serif;
    font-weight: 300;
}

.info-modal > p {
    font-size: x-large;
}

.info-modal-lower {
    background-color: #0E0019;
    border-radius: 2%;
    padding: 2%;
    font-family: 'Mitr', serif;
    font-weight: 300;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.latest-work {
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest-work .drawing{

    flex: 1;
}

.latest-work .meta-overlay {
    padding: 8px 16px;
    background-color: #352d41cf;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 80%;
    font-size: 2.0vw;
    margin: 0;
    cursor: pointer;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    font-family: 'Mitr';
    transform: translate(-9%, -200%);
    backdrop-filter: blur(1px);
  }

.centered-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-aligned-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.middle-aligned-row {
    display: flex;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: left;
}