.drawing-holder {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meta-overlay {
    padding: 8px 16px;
    background-color: #352d41cf;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 1.2vw;
    margin: 0;
    cursor: pointer;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    font-family: 'Mitr';
    transform: translate(0%, -150%);
    backdrop-filter: blur(1px);
}