header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #0E0019;
    color: #fff;
}

header .buttons {
    display: flex;
    gap: 10px;
}

.header-title {
    font-family: 'Kreon', serif;
    margin: 0;
    cursor:pointer;
}